# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js build output
/.next/
/out/

# Firebase
/.firebase/

# Build artifacts and archives
/build
/dist
*.tar.gz
*.zip

# Local Environment Variables
.env*.local
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Other
.DS_Store
*.pem
